.so-widget-sow-button-atom-b75faff27d8f .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #dda95a;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d49330), color-stop(1, #dda95a));
  background: -ms-linear-gradient(bottom, #d49330, #dda95a);
  background: -moz-linear-gradient(center bottom, #d49330 0%, #dda95a 100%);
  background: -o-linear-gradient(#dda95a, #d49330);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dda95a', endColorstr='#d49330', GradientType=0);
  border: 1px solid;
  border-color: #cb8b2a #c28528 #b67c25 #c28528;
  color: #ffffff !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-atom-b75faff27d8f .ow-button-base a .sow-icon-image,
.so-widget-sow-button-atom-b75faff27d8f .ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.so-widget-sow-button-atom-b75faff27d8f .ow-button-base a:visited,
.so-widget-sow-button-atom-b75faff27d8f .ow-button-base a:active,
.so-widget-sow-button-atom-b75faff27d8f .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-atom-b75faff27d8f .ow-button-base a.ow-button-hover:hover {
  background: #dfad62;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d69738), color-stop(1, #dfad62));
  background: -ms-linear-gradient(bottom, #d69738, #dfad62);
  background: -moz-linear-gradient(center bottom, #d69738 0%, #dfad62 100%);
  background: -o-linear-gradient(#dfad62, #d69738);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfad62', endColorstr='#d69738', GradientType=0);
  border-color: #d3912c #cb8b2a #be8227 #cb8b2a;
  color: #ffffff;
}